body, html{
	background-color: black;
	margin: 0px;
	padding: 0px;
	transition: ease-in-out 2s;
}
h1{
	font-size: 25px;
	color: #3dd33d;
	margin-left: 20px;
	font-family: arial;

}
P.one{
	font-size: 13px;
	background-color:#ccedcc;
	border-width:100px;
	color:#154415;
	align-content: center;
	height: 25px;
	padding-left: 220px;
	padding-top:10px ;
	font-family: arial;

}
h2{
	font-size: 50px;
	color: white;
	margin-top: 150px;
	margin-left: 130px;
	font-family:arial;
}
p.two{
	margin-top: 1px;
	margin-left: 210px;
	font-family: arial;

}
p.three{
	color: white;
	margin-left: 40px;
	font-family:arila;
	font-size: 15px;
}
p.four{
	color: white;
	margin-left: 240px;
	margin-to: 1px;
	font-family:arial;
	font-size: 15px;
}
img.two{
	background-color: black;
	height: 300px;
	margin-left: 50px;
	background-color: black;
}


img.one{
	height: 30px;
}
a{	margin-lef: 7px;
	color: white;
	text-decoration: none;
	padding: px;
}

.white-bg{
	background-color: white;
	padding: 50px;
}
P.five{
	font-size: 45px;
	margin-left:120px ;

}
p.six{
	text-align: center;
}



	


.submit-btn{
		transition: ease-in-out 0.5s;

text-align:center ;
padding-left:40px ;
padding-right: 40px;
	background-color: #3f9d3f;
	height: 45px;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 30px;
}

.submit-btn:hover{
	color:#3f9d3f ;
	background-color:#ccedcc ;
		transition: ease-in-out 0.5px;


}


ul.one{
	list-style: none;
	display: flex;
}
ul.two{
    list-style: none;
    display: inline-flex;
}

.middle-content{

	padding: 50px;
	width:  220px;

}
ul.three{
	 list-style: none;
    display: inline-flex;
	margin-left: 340px;

}
.wrap{

	padding: 50px;
	width:  220px

	




